.button {
  font-family: inherit;
  background-color: $color-logo-focus;
  color: $color-third;
  cursor: pointer;
  @include font(700, 16px, 1.88, 0.06em);
  text-align: center;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  border: none;
}
