$color-first: #757575;
$color-second: #212121;
$color-third: #ffffff;
$color-logo-focus: #2196f3;
$first-background-color: #ffffff;
$second-background-color: #2f303a;
$background-button-porfolio: #f5f4fa;
$logo-header-color: #000000;
$mailtel-color: rgba(255, 255, 255, 0.6);
$border-portfolio: 1px solid #eeeeee;
$padding-section: 94px 0;
$margin-section-minus: -30px;
$margin-between: 30px;
$width-section: 1170px;
$color-icon-svg: #afb1b8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$time-transition: 250ms;
$time-transitions: 2500ms;
